In [1]:
my_list = [10, 20, 30, 40]
my_list

[10, 20, 30, 40]

In [2]:
my_list[1]

20

In [3]:
my_list.__getitem__(1)

20

In [4]:
my_list[0:3]

[10, 20, 30]

In [5]:
my_list = [10, 20, 30, 40]
my_list[1:]

[20, 30, 40]

In [7]:
my_list = [10, 20, 30, 40]
my_list[0:3:2]

[10, 30]

In [8]:
len(my_list)

4

In [9]:
my_list = [10, 20, 30, 40]
my_list[:len(my_list)+1000:2]

[10, 30]

```python
[start:stop:step]
```

In [10]:
start = 0
stop = 2
my_tuple = 1, 2, 3, 4
st = slice(start, stop)
my_tuple[st]

(1, 2)

In [11]:
start = 0
stop = None  # [0:]
my_tuple = 1, 2, 3, 4
st = slice(start, stop)
my_tuple[st]

(1, 2, 3, 4)

In [12]:
my_str = "Hola mundo"
my_str[::-1]

'odnum aloH'

In [15]:
my_list = [10, 20, 30]  # mutable
my_list.append(100)
my_list

[10, 20, 30, 100]

In [16]:
my_tuple = (10, 20, 30)
my_tuple.append(100)
my_tuple

AttributeError: 'tuple' object has no attribute 'append'

In [17]:
my_tuple = (10, 20, 30)
my_tuple[0] = 100

TypeError: 'tuple' object does not support item assignment

In [18]:
my_list = [10, 20, 30]
my_list[0] = 100
my_list

[100, 20, 30]

In [19]:
my_list = [10, 20, 30]
my_list, id(my_list)

([10, 20, 30], 1717393099648)

In [20]:
var1 = [1, 2, 3]
var2 = var1
id(var1), id(var2)

(1717386819776, 1717386819776)

In [21]:
var1 = [1, 2, 3]
var2 = var1

var1.append(100)
var1

[1, 2, 3, 100]

In [22]:
var2

[1, 2, 3, 100]

In [24]:
var1 = 2
print("Id var1 antes de suma:", id(var1))
var1 = var1 + var1
print("Id var1 despues de suma:", id(var1))

Id var1 antes de suma: 140717166298056
Id var1 despues de suma: 140717166298120

In [25]:
my_tuple = ([1, 2], [3, 4])
my_tuple[0] = 100

TypeError: 'tuple' object does not support item assignment

In [26]:
my_tuple = ([1, 2], [3, 4])
my_tuple[0][0] = 100
my_tuple

([100, 2], [3, 4])

In [ ]:
a = [1, 2]
b = a[:]
id(a), id(b)

(1717393330560, 1717393336768)

In [28]:
a.append("Hola")
a, b

([1, 2, 'Hola'], [1, 2])

In [29]:
a = [1, 2]
b = a[:]
a is b

False

In [30]:
a == b

True

In [32]:
a = [1, 2, 3]
b = a
a is b

True

In [31]:
a = [1, 2, 3]
b = a.copy()
a is b

False

In [38]:
a = [[1, 2], [3, 4]]
b = a.copy()
a is b

False

In [39]:
a[0] is b[0]

True

In [34]:
a[1][0] = 300
a

[[1, 2], [300, 4]]

In [35]:
b

[[1, 2], [300, 4]]

In [40]:
from copy import deepcopy

a = [[1, 2], [3, 4]]
b = deepcopy(a)
a is b

False

In [41]:
a[0] is b[0]

False

In [42]:
a[1][0] = 300
a, b

([[1, 2], [300, 4]], [[1, 2], [3, 4]])